-r requirements_common.txt
coverage
# The version of homeassistant used for testing needs to be tightly coordinated with
# pytest-homeassistant-custom-component and homeassistant-stubs
homeassistant>=2025.1.0
homeassistant-stubs>=2025.1.0
pytest
pytest-aiohttp
pytest-cov
pytest-homeassistant-custom-component==0.13.210
pytest-sugar
pytest-mock
tox
